@import "../../../../style/utils";

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(progress) {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.wrapper {
  margin-top: 1.5rem;
}

.skill {
  @include flexboxRow;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.45em;

  &__name,
  &__value {
    font-size: 1.125rem;
    flex: 1;
    text-transform: uppercase;
  }

  &__value {
    text-align: center;
  }

  &__bar {
    width: 50%;
    height: 5px;

    &--loader {
      height: 100%;
      border-radius: 10px;
      background-color: $clr-grass;
      transform-origin: left;
      transform: scaleX(0);
      animation: progress 1s ease-in-out forwards;
    }
  }
}
