:root {
  --eau-color: #9db7f5;
  --acier-color: #d1d1e0;
  --roche-color: #d1c17d;
  --psy-color: #f192b2;
  --poison-color: #c183c1;
  --normal-color: #c6c6a7;

  --glace-color: #bce6e6;
  --sol-color: #ebd69d;
  --plante-color: #a7d88d;
  --spectre-color: #a292bc;
  --vol-color: #a890f0;
  --feu-color: #f5ac78;

  --combat-color: #d67873;
  --fee-color: #f4bdc9;
  --electrik-color: #fae078;
  --dragon-color: #a27dfa;
  --tenebres-color: #a29288;
  --insecte-color: #c6d16e;
}

.display-pokemon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: scroll;
  margin: 0.5em auto;
}
.favoris-title {
  text-align: center;
  margin-bottom: 0.5em;
}

.pokeFavoris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
  width: 11rem;
  height: 10rem;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.05) 5px 15px 10px);
}

/* les images */
.pokemonImage {
  width: 8rem;
  aspect-ratio: 1;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 5px 5px);
}

/* les noms */
.pokemon-name {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0px 0px 1rem 0px;
}

@media screen and (min-width: 600px) and (max-width: 750px) {
  .display-pokemon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow: auto;
  }
  .favoris-title {
    font-size: 2.9em;
  }
}
@media screen and (min-width: 750px) and (max-width: 900px) {
  .display-pokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: auto;
  }
  .favoris-title {
    font-size: 3.5em;
  }
}
@media screen and (min-width: 900px) {
  .display-pokemon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    overflow: auto;
  }
  .favoris-title {
    font-size: 5em;
  }
}
