@import "../../../../style/utils";

.wrapper {
  @include flexboxRow;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 18rem;

  &__icon {
    @include flexboxColumn;

    &--img {
      @include pokemonSizeSmall;
      filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 5px 5px);
    }
  }

  .evolution__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
