@import "../../../../style/utils";

.wrapper {
  @include flexboxRow;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1rem;
  text-align: center;

  &__icon {
    @include flexboxColumn;

    &--img {
      @include pokemonSizeSmall;
      filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 5px 5px);
    }
  }

  &__name {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .evolution__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
