.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1rem;
  text-align: center;
}
.wrapper__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper__icon--img {
  width: 5.7rem;
  aspect-ratio: 1;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 5px 5px);
}
.wrapper__name {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.wrapper .evolution__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
