.results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.results-list a {
  width: 100%;
}
.results-list a:hover {
  background-color: black;
}
.results-list a:first-child {
  border-radius: 25px 25px 0 0;
}
.results-list a:last-child {
  border-radius: 0 0 25px 25px;
}
.results-list__result {
  padding: 0.25em;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: whitesmoke;
  cursor: pointer;
}
