@import "../../style/utils";

.primaryNavBar {
  @include flexboxRow;
  justify-content: space-between;
  padding: 1em;

  .pokedexLogo {
    font-size: 2rem;
    font-weight: $fw-bold;
    border: none;
    background-color: transparent;

    a {
      text-decoration: none;
      color: $fclr-black;
    }
  }

  .burgerLogo {
    width: 50px;
    aspect-ratio: 1;
  }
}
