@import "../../../style/utils";

.container {
  width: 100%;
  height: 306px;
  padding: 0 2rem;
  border-radius: 50px 50px 0 0;
  position: absolute;
  bottom: 0;
  background-color: $clr-cardFooter;
  transition: all 0.2s;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 2px 0px 10px);
  overflow-x: scroll;

  .arrow {
    position: absolute;
    display: block;
    background-color: $fclr-white;
    border-radius: 50%;
    border: none;
    padding: 1em;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translate(-50%, -35%);

    & * {
      pointer-events: none;
    }
  }
}

.navbar {
  @include flexboxRow;
  justify-content: space-between;
  margin-top: 3em;

  &__btn {
    color: $fclr-black;
    font-size: 1.55rem;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 1;
    opacity: 0.25;
    transition: opacity 0.1s linear;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      padding-bottom: 1.5em;
      border-bottom: 3px solid $fclr-black;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.statswrapper {
  @include flexboxRow;
  width: 70rem;

  .card {
    width: 23rem;
  }
}

.isClicked {
  transform: translateY(70%);
  transition: all 0.2s;
  overflow: visible;
}
