.container {
  width: 100%;
  height: 306px;
  padding: 0 2rem;
  border-radius: 50px 50px 0 0;
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  transition: all 0.2s;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 2px 0px 10px);
  overflow-x: scroll;
}
.container .arrow {
  position: absolute;
  display: block;
  background-color: #f5f5f5;
  border-radius: 50%;
  border: none;
  padding: 1em;
  width: 70px;
  height: 70px;
  left: 50%;
  transform: translate(-50%, -35%);
}
.container .arrow * {
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
}
.navbar__btn {
  color: #232323;
  font-size: 1.55rem;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  opacity: 0.25;
  transition: opacity 0.1s linear;
  cursor: pointer;
}
.navbar__btn:hover,
.navbar__btn:focus {
  opacity: 1;
}
.navbar__btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding-bottom: 1.5em;
  border-bottom: 3px solid #232323;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.navbar__btn:hover::before {
  transform: scaleX(1);
}

.statswrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
}
.statswrapper .card {
  width: 23rem;
}

.isClicked {
  transform: translateY(70%);
  transition: all 0.2s;
  overflow: visible;
}
