body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 5px rgb(36, 36, 75);
  border-radius: 1%;
}

/*  home page -------------------------------*/

.home-page {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#homeImage {
  width: 20rem;
  height: 20rem;
}

#homeParagraph {
  margin-left: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
}
