@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap");
/* COLORS */
/* FONTS */
/* DISPLAY */
@import "./components/Search/Searchbar/Searchbar.module.css";
@import "./components/Search/Searchlist/Searchlist.module.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", "Cabin condensed", "Cambay", system-ui;
  font-weight: 400;
  line-height: 1.25;
  color: #232323;
}

/*  home page -------------------------------*/
.home-page {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#homeImage {
  width: 20rem;
  height: 20rem;
}

#homeParagraph {
  margin-left: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
}

/* -------------------------nav bar -------------------------------------*/
.nav-bar {
  width: 100%;
  height: 2rem;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: auto;
}

nav #nav-pokedex {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
nav #logo {
  margin-right: 4%;
  margin-top: 2%;
}
/* le ham button */
.span1 {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  margin: 5px 0px;
}