.heroPicture {
  width: 16.75rem;
  aspect-ratio: 1;
  position: absolute;
  z-index: 3;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 5px 5px) contrast(110%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  cursor: pointer;
  transition: all 0.2s;
}

.hero_button {
  background-color: transparent;
  border: none;
}

.isClicked {
  width: 25rem;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
